# ex: ft=dosini

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.py]
indent_style = space
indent_size = 4
max_line_length = 88

[*.{yang,yml}]
indent_style = space
indent_size = 2

[*.rst]
indent_style = space
indent_size = 3

[Makefile]
indent_style = tab
indent_size = tab

[*.sh]
indent_style = tab
indent_size = tab

[*.{h,c}]
indent_style = tab
indent_size = tab
